#book-search-results span.search-highlight-keyword {
  background: #ffa;
}
mark {
  background: #ffa;
}

table thead th {
  background-color: #5999e8;
  color: white;
}

.book.font-family-0 {
  font-family: 'Yu Mincho', 'YuMincho', 'Noto Serif JP', serif
}
.book.font-family-1 {
  font-family: 'Yu Gothic', 'YuGothic', 'Noto Sans JP', sans-serif
}

.right {
  text-align: right;
}

code {
  background-color: transparent !important;
}